.todo-container {
  display: flex;
  flex-direction: row;
}

.todo-list-header {
  display: flex;
  flex-direction: row;
}

.todo-list-header h4 {
  margin-left: 12px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.todo:hover {
  opacity: 0.8;
}

.todo .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--dark-alt);
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .text {
  font-size: 20px;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-list {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: #eb034c;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.todo .delete-todo {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
  background-color: var(--light);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}